@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Heebo:wght@300&family=Shippori+Antique&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

textarea:focus, input:focus, select:focus{
  outline: none;
}

body {
  background-color: #f5f5f8;
}